.modal {
  position: fixed; // stays on screen above everything
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // dark overlay
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; // IMPORTANT: puts modal above table
}

.modal-box {
  background: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  z-index: 10000; // modal content even higher
}

.form-class {
  border-top: 1px solid #dcdcea;

  padding-top: 30px;
}

.input-class {
  border: 1px solid #b6b2bb;
  border-radius: 4px;
  width: 370px;
  height: 37px;
}

.form-div {
  padding-bottom: 30px;
  border-bottom: 1px solid #dcdcea;
}

.modal-button {
  padding-top: 14px;
  display: flex;
  /* padding-top: 30px; */
  /* align-items: flex-end; */
  justify-content: flex-end;
  gap: 10px;
}

.button-close {
  cursor: pointer;
   color: #fff;
    border: 0;
    border-radius: 4px;
    width: 87px;
    height: 37px;
    background-color: #6d7781 !important;
}
.save{

  color: #fff;
  cursor: pointer;
    border: 0;
    border-radius: 4px;
    width: 112px;
    height: 35px;
    background-color: #9575DE;
}