table{
    width: 93%;
    // width: 100%;
      padding-top: 2rem;
}
td{
    text-align: left;
    border-bottom: 1px solid #E6E6EF;
        height: 40px;
        color: #595959;
         border-right: 1px solid #E6E6E6;
}

.actions{
    width: 100px;
   
}

tr{
    text-align: left;
        height: 40px;
        border-right: 1px solid #E6E6E6;
}

tr:nth-child(odd) {
      background-color: #fafafa; 
    }

     tr:nth-child(even) {
      background-color: #ffffff; 
    }
th{
    border-bottom: 1px solid #E6E6EF;
    text-align: left;
    color: #2E2E2E;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 44px;
  color: #59595999;
  font-size: 14px;
}

.pagination-main{
    display: flex;
    justify-content: space-between;
    padding-left: 0px!important;
    padding-top: 1rem;
    width: 93%;
}
.pagination-buttons{
    align-items: center;
    // padding-right: 45px;
}
.page-button{
        border: 0px;
    color: #59595980;
}
.bi-pencil::before {
    align-items: center;
    /* display: flex; */
    flex-direction: row;
    background-color: #E6E6E6;
    width: 24px;
    border-radius: 50%;
    height: 24px;
    cursor: pointer;
}

.bi{
     cursor: pointer;
}


table tbody tr {
 
    transition: all 0.2s ease-in-out; 
 
    position: relative; 

    td {
        padding: 10px 15px; 
    }
}

/* The actual hover effect */
table tbody tr:hover {
  
    transform: scale(1.005); 

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

    z-index: 10; 
    
}


table tbody tr:hover td {
     border-right: 1px solid #E6E6E6;

    
}