
.link:hover {
  text-decoration: none;
  height: 39px;
    padding-top: 10px;
    padding-left: 26px;
    color: #9575de;
    
}

.link {
  color: #F2F2F8BF;
    // padding-left: 51px;
    // width: 350px;
    height: 39px;
    padding-top: 10px;
    padding-left: 26px;
    
}

.link.active {
 padding-top: 10px;
    /* text-align: center; */
    border-radius: 10px;
    height: 39px;
    
    color: #9575de;
    background-color: #fff;
        padding-left: 26px;
    text-decoration: none;
}

.link-icons{

  display: flex;
  gap: 12px;
}
.nav-div{
 padding: 12px;
    // background-color: #2b2730;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    // width: 19%;
    // height: 100vh;
    display: flex;
}
.logo-div{
 justify-content: center;
    /* padding-left: 100px; */
    display: flex;
    /* padding: 17px; */
    background-color: #ffffff0a;
    width: 236px;
    border-radius: 10px;
    height: 104px;
   
}

.nav{
     width: 22%;
     background-color: #2b2730;
      padding-top: 20px;
}