html,
body {
  /* min-height: 100vh; */
  padding: 0;
  margin: 0;
  top: 0;
  font-family: system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.head-part{

    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 44px;
}

.add-button{
    color: #fff;
    cursor: pointer;
    background-color: #9575de;
    border: 0;
    border-radius: 4px;
    width: 162px;
    height: 29px;
    font-family: sans-serif;
    font-size: 14px;
}
